@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    color: white;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(https://i.imgur.com/xU2VekJ.jpeg) no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
    width: 70%;
}

.intro img {
    width: 214px;
    height: 214px;
    border-radius: 128px;
    margin: 0 104px;
    border: dotted 5px greenyellow;

}

.text-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.text-intro h1 {
    margin: 10px 0;
    font-size: 55px;
}

.text-intro h2 {

    margin: 10px 0;
    font-weight: lighter;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: greenyellow;
}

.text-intro p {
    margin: 0 56px;
    font-size: 27px;
}

.image-intro {
    display: inline-block;
    width: 50%;
}

.centre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 75%;
}

.btn {
    background-color: rgba(255, 255, 255, 0.164);
    /* color: white; */
    border: none;

    text-transform: uppercase;
    font-size: 20px;
    line-height: 46px;
    width: 144px;
    margin: 19px 69px;
    border-radius: 10px;
    border: 2px solid white;
}

a {
    font-family: 'VT323', monospace;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
}



.btn:hover {
    /* color: rgba(0, 0, 0, 0.516); */
    background-color: rgba(255, 255, 255, 0.681);
}

a:hover {
    color:black ;
}

a:visited {
    color: greenyellow;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

section p {
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
    color: greenyellow;

}

section {
    margin: 37px auto;
    width: 70%;
    text-align: center;
    font-size: 25px;
}

/* btn-with-icon section */

.fa{
    color: white;
    margin: 10px 15px 0 15px;
}


.thmbdg{
    margin-top: 30px;
}